{% extends 'base.html.twig' %}

{% block title %}Vlabs - Test Technique{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            GEOLOCALISATION
            <a href="{{ path('admin') }}"
               class="btn btn-sm btn-secondary float-md-end">Admin <i class="fa fa-arrow-right"></i></a>
        </h1>
        <hr>

        <div style="width: 80%;">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-secondary btn-sm all">Voir tout les points d'interet</button>
                    <hr>
                    <ul>
                        {% for point in points %}
                            <li class="place" data-id="{{ point.id }}" data-link="{{ path('point_of_interest_infos', {id: 'ZZZ'}) }}">{{ point.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8">
                    <div id="google_maps" style="height: 600px;" data-addresses="{{ addresses.content }}"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('maps') }}
    <script type="application/javascript" defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNmwdasFOXQLkTbdu3iK_zOnwL-9-CHEY&libraries=places"></script>
{% endblock %}




