{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>L'utitlisateur a bien été créé</h1>

    <a href="{{ path('user_index') }}" class="btn btn-primary">Voir tous les users</a>
{% endblock %}
